body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1F1E1E;
  letter-spacing: .75px;
  color: white;
  max-width: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


a{
  color: white;
  text-decoration: none;
}

.greenButton{
  margin-right: 2vw;
  padding: 0.25rem 1rem;

  background: #07FE20;
  font-weight: 600;

  cursor: pointer;
  outline: none;

  border: none;
  border-radius: 5px;
}

.redButton{
  margin-right: 2vw;
  padding: 0.25rem 1rem;

  background: rgb(252, 14, 14);
  color: white;
  font-weight: 600;

  cursor: pointer;
  outline: none;

  border: none;
  border-radius: 5px;
}

.navItems a, .footerNavItems a, .logoContainer a{
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*Underline animation for links within the nav and footer*/

.navItems a::after, .footerNavItems a::after{
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid #07FE20;
  transition: .3s;
}

.navItems a:hover::after, .footerNavItems a:hover::after{
  width: 100%;
}


/*===== Nav ====*/

.green{
  color: #07FE20;
}

.nav{
  background: #1F1E1E;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .5vh 2vw;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.signIn{
  margin-right: 2vw;
  padding: 0.25rem 1rem;

  background: #07FE20;
  font-weight: 600;

  cursor: pointer;
  outline: none;

  border: none;
  border-radius: 5px;
}

.navItems{
  display: flex;
}

.navItems a{
  margin: 0 2vw;
}

.hamburger{
  transform: rotate(90deg);
  cursor: pointer;
}

.logo{
  padding: 1.5vh 0;
}




/*===== Footer ======*/

.footer{
  background: #2F2D2D;
  color: white;
  margin-top: 7vh;
  height: 65vh;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.footerNavItems a{
  margin: 0 2vw;
}

.footerNavItems{
  margin: 3vh 0;

  display: flex;
}

.iconContainer{
  display: flex;

  margin-top: 10vh;
}

.iconContainer img{
  margin: 0 1vw;

  border-color: #828080;

  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.copyrightContainer p{
  color: #828080;
  margin-top: 3vh;
}

.footerLogo{
  font-size: 2rem;
}




/*Formik styling*/

.formContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-bottom: 5vh;
  padding: 2vh 5vw;

  border: 2px solid #828080;
  border-radius: 8px;

  background: #2F2D2D;
  
  width: 225px;
}

.submitButton{
  width: 100px;

  margin-top: 5vh;
  padding: .75vh 2vw;

  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;

  background: #07FE20;
  color: black;

  font-weight: 600;
  font-family: helvetica;
  font-size: 1.05rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.submitButton:active{
  background: rgb(0, 94, 0);
}

.signUpSwitch{
  border: none;
  display: block;

  background: none;
  color: #828080;

  font-size: .8rem;
  letter-spacing: .75px;

  margin-bottom: 2vh;

  cursor: pointer;

  text-decoration: underline;
}

.guestSignIn{
  border: none;

  background: none;
  color: #828080;

  font-size: .8rem;
  letter-spacing: .75px;

  margin-top: 1vh;

  cursor: pointer;

  text-decoration: underline;
}

label{
  margin-top: 3vh;
  color: white;
}

.input{
  padding: .75vh .75vw;

  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.red{
  font-size: 0.85rem;

  border: 1px solid rgb(151, 151, 151);
  border-radius: 2px;

  margin-top: .5vh;
  padding: .25vh .5vw;

  font-style: italic;

  background-color: rgb(255, 241, 221);
  color: red;
  font-weight: 500;
}

.inputBio{
  height: 100px;
  width: 215px;
}




/*Create Post styling*/

.cpForm input, textarea{
  padding: .75vh .75vw;

  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.cpForm textarea{
  height: 100px;
  width: 215px;
}




/*Search Bar*/

.searchBarTwo{
  display: none;
}

.searchBar{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #2F2D2D;
  color: white;
  
  padding: 0 1vw;
  margin-bottom: 7vh;
}

.searchFormDesc{
  width: 40%;
}

.searchForm{
  width: 55%;
}

.searchBar p{
  font-size: .85rem;
  font-style: italic;
}

.searchBar input{
  width: 95%;

  border: none;
  border-radius: 3px;

  padding: .5vh .75vw;

  background: rgb(95, 91, 91);
  color: white;
}

.searchBar input::placeholder{
  color: #C4C4C4;
}

.spinner{
  margin-top: 2vh;
}




/*Chef Card*/

.chefCardContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.chefCard{
  width: 300px;
  

  background: #2F2D2D;
  
  padding: 2vh 1vw;
  margin: 2vh 2vw;
}

.chefImage{
  width: 200px;

  border-radius: 50%;
  border: 5px solid #07FE20;
}

.chefCardAvi{
  width: 200px;
}




/*Chef profile cards*/

.chefProfileCardContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  background: #2F2D2D;

  margin: 0 3vw;
}

.chefProfileCards{
  margin-bottom: 3vh;
}

.chefProfilePersonal{
  margin: 0 auto;

  display: inline-flex;
  flex-flow: column;
  align-items: flex-start;
}

.chefProfileBio{
  width: 15%;
  margin: 0 auto;

  display: flex;
  flex-flow: column;
  align-items: center;
}

.chefProfileTitle{
  margin: 0;
}

.chefProfileLocation{
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-style: italic;

  font-size: .75rem;
}

.locationPin{
  width: 12px;
}

.location{
  color: #828080;
}

.chefProfileName{
  margin: 0;
}

.chefProfileBio{
  margin-top: 5vh;
}

.chefProfileAbout{
  margin: 0;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

.about{
  margin: 0;
}




/*Recipe Card*/

.recipeCardContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;

  background: #2F2D2D;

  margin: 0 3vw;
}

.recipeCard{
  width: 400px;

  background: #1F1E1E;

  border-radius: 8px;

  margin: 1vh 1vw;
  padding: 1vh 0;
}

.recipeCardContent{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin: 2vh 2vw;
}

.recipeCardImgAndTitle{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-radius: 8px;

  width: 95%;

  background: #2F2D2D;

  margin: 0 auto;
  margin-top: 1vh;
}

.recipeCardImage{
  width: 90%;
  margin-bottom: 1vh;
  border-radius: 8px;
}

.recipeCardTitle{
  margin: 1vh;
  padding-top: 1vh;

  text-transform: capitalize;
}

.recipeCardInfoContainer{
  text-align: left;
  padding: 0 2vh;
}

.recipeCardChef{
  margin: 0;
}

.recipeCardTime{
  margin: 1vh 0;
  font-style: italic;
  color: #C4C4C4;

  display: flex;
  align-items: center;
}

.timerIcon{
  width: 15px;
  margin: 0vh .5vw 0 1vw;
}

.recipeCardButtonContainer{
  margin-top: 2vh;
  margin-bottom: 2vh;
}




/*Edit form*/

.editFormContainer input{
  border: none;
}

.editFormContainer label{
  margin-top: 3vh;
  color: white;
}

.editFormContainer input{
  padding: .75vh .75vw;

  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}




/*Recipe Page*/

.recipePageContainer{
  background: #2F2D2D;
  padding: 2vh 0;
  margin: 4vh 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.recipePageTitleAndName{
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  width: 600px;

  margin: 0 auto;
}

.recipePageName, .recipePageTitle{
  text-transform: capitalize;
  margin: 0;
}

.recipePageTitle{
  font-size: 2rem;
}

.recipePageName{
  margin: 1vh 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.recipePageAvi{
  width: 25px;

  margin-right: 1vw;
}

.recipePageImageContainer{
  max-width: 800px;
  margin: 0 auto;
}

.recipePageImage{
  width: 100%;

  margin: 0 auto;

  border-radius: 8px;
}

.recipePageTimeContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 60%;

  margin: 0 auto;
  margin-top: 3vh;
  padding: 1vh 2vw;
}

.recipePageTimeContainer h4, .recipePageTimeContainer p{
  margin: 0;
}

.recipePageServingContainer{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 1vh 2vw;
}

.recipePageServingContainer p{
  margin: 0;
  font-style: italic;
}

.recipePageInI{
  display: flex;
  flex-flow: column;
  align-items: flex-start;

  width: 60%;

  background: #2F2D2D;

  margin: 0 auto;
  padding: 1vh 2vw;
}

.ingredientsContainer{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.instructionsContainer{
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.instructionContent{
  text-align: left;
}
